*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
    background-color: hsl(0,0%,8%);
}
.main{
    margin:5vw 34vw;
    height:550px;
    width:450px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 12%);
    color:hsl(0, 0%, 100%);
    padding:30px 40px;
    text-align: center;
    font-family: 'Inter';
}
.img{
    height:100px;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom: 25px;
}
img{
    border-radius: 50%;
}
.main h2{
    font-weight: 500;
    margin-bottom: 8px;
}
.green{
    font-size: 14px;
    color: hsl(75, 94%, 57%);
    margin-bottom: 20px;
}
.mid{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 18px;
}
.btn{
    height:38px;
    width:100%;
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}
.btn:hover{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%) ;
    transition: all ease linear;
    cursor: pointer;
    
}
.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
    text-align: center;
    color:white;
}
.attribution a {
    color: hsl(75, 94%, 57%); 
}
@media (max-width:376px) {
    .main{
        margin:20px;
        height:550px;
        width:335px;  
    }
}